:root {
    --text-preset-1-font-size: 5.6rem;
    --text-preset-1-font-weight: 800;
    --text-preset-1-line-height: 5.6rem;
    --text-preset-1-letter-spacing: 0;

    --text-preset-2-font-size: 4rem;
    --text-preset-2-font-weight: 800;
    --text-preset-2-line-height: 4rem;
    --text-preset-2-letter-spacing: 0;

    --text-preset-3-font-size: 3.2rem;
    --text-preset-3-font-weight: 700;
    --text-preset-3-line-height: 3.2rem;
    --text-preset-3-letter-spacing: 0;

    --text-preset-4-font-size: 2rem;
    --text-preset-4-font-weight: 800;
    --text-preset-4-line-height: 2.4rem;
    --text-preset-4-letter-spacing: 0;

    --text-preset-5-font-size: 1.8rem;
    --text-preset-5-font-weight: 800;
    --text-preset-5-line-height: 2.4rem;
    --text-preset-5-letter-spacing: 0;

    --text-preset-6-font-size: 1.5rem;
    --text-preset-6-font-weight: 400;
    --text-preset-6-line-height: 2.6rem;
    --text-preset-6-letter-spacing: 0;

    --text-preset-7-font-size: 1.4rem;
    --text-preset-7-font-weight: 400;
    --text-preset-7-line-height: 2.4rem;
    --text-preset-7-letter-spacing: 0.438rem;
}




body {
    font-family: Inter, sans-serif;
}